# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.pickle
*.so

# Virtual environments
.env
.venv/
env/
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Build / packaging
build/
dist/
*.egg-info/
.eggs/

# IDEs / Editors
.vscode/
.idea/
*.swp
*.swo

# Coverage / testing
.coverage
.tox/
.pytest_cache/

# MySQL / SQLite DBs
*.db
*.sqlite3

# Temp files
*.tmp
*.bak
